* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
  display: flex;
  justify-content: center;
}

#calculator {
  border: 1px solid black;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 600;
}

#screen {
  height: 64px;
  font-size: xx-large;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 8px;
  overflow: hidden;
}
